
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!--==============================
    Header Area
==============================-->
<header class="th-header header-layout7">
    <div class="sticky-wrapper">
        <!-- Main Menu Area -->

    </div>
</header>
<!--==============================
Hero Area
==============================-->
<div class="d-none d-md-block">
    <div id="slider" class="ls-wp-container fitvidsignore hero-7 th-hero-carousel" style="width:1920px;height:900px;margin:0 auto;">
        <!-- Slide 1-->
        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:5000; transition2d:11; kenburnszoom:in; kenburnsscale:1.2;">
            <img width="1920" height="900" src="~/download-version/assets/img/update_2/hero/hero_bg_7_1.jpg" class="ls-bg" alt="" decoding="async">
            <ls-layer style="font-size:36px; color:#000; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; width:1920px; height:900px; -webkit-background-clip:border-box;" class="ls-l ls-svg-layer" data-ls="static:forever;">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1920 900" fill="none">
                    <rect width="1920" height="900" fill="url(#paint0_radial_15_366)" fill-opacity="0.85"></rect>
                    <defs>
                        <radialgradient id="paint0_radial_15_366" cx="0" cy="0" r="1" gradientunits="userSpaceOnUse" gradienttransform="translate(960 490) rotate(90) scale(410 874.667)">
                            <stop stop-opacity="0.5" offset="0"></stop>
                            <stop offset="1"></stop>
                        </radialgradient>
                    </defs>
                </svg>
            </ls-layer>
            <ls-layer style="font-size:26px; stroke:#000; stroke-width:0px; text-align:center; font-style:normal; text-decoration:none; text-transform:capitalize; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Lobster Two'; top:311px; left:50%;  -webkit-background-clip:border-box;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                Special Fast food restaurant
            </ls-layer>
            <h1 style="text-align:left; text-decoration:none; text-transform:uppercase; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:Rubik; top:350px; left:50%; font-size:120px; font-weight:700; color:#ffffff; line-height:130px; white-space:normal;" class="ls-l ls-hide-phone ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                Best Quality
            </h1>
            <h1 style="text-align:left; text-decoration:none; text-transform:uppercase; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:Rubik; line-height:130px; top:478px; left:50%; font-size:120px; color:#ffffff; white-space:normal;" class="ls-l hero-title ls-hide-phone ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:400; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                Fast Food
            </h1>
            <a style="" class="ls-l ls-hide-tablet ls-hide-phone" href="shop.html" target="_self" data-ls="offsetyin:-300; durationin:1200; delayin:500; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-120; durationout:800; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent; hover:true; hoveropacity:1; hoverbgcolor:#ffffff; hovercolor:#ff0600;">
                <ls-layer style="font-size:14px; color:#fff; text-align:center; font-family:Rubik; cursor:pointer; width:180px; left:50%; top:647px; text-transform:uppercase; line-height:14px; padding-bottom:20px; padding-top:22px; font-weight:600; border-radius:4px 4px 4px 4px; background-color:#ff0600;" class="ls-ib-icon ls-button-layer">
                    Explore menu<i class="fa fa-arrow-right" style="margin-left:.5em; font-size:1em;"></i>
                </ls-layer>
            </a>
            <ls-layer style="stroke:#000; stroke-width:0px; text-align:center; font-style:normal; text-decoration:none; text-transform:capitalize; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Lobster Two'; top:300px; left:50%;  -webkit-background-clip:border-box;" class="ls-l ls-hide-desktop ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                Special Fast food restaurant
            </ls-layer>
            <a style="" class="ls-l ls-hide-desktop" href="shop.html" target="_self" data-ls="offsetxin:500; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-120; durationout:800; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent; hover:true; hoveropacity:1; hoverbgcolor:#ffffff; hovercolor:#eb0029;">
                <ls-layer style="font-size:32px; color:#fff; text-align:center; font-family:Rubik; cursor:pointer; left:50%; top:642px; text-transform:uppercase; padding-bottom:30px; padding-top:30px; font-weight:600; line-height:32px; background-color:#eb0029; border-radius:10px 10px 10px 10px; width:370px;" class="ls-ib-icon ls-button-layer">
                    Explore menu<i class="fa fa-arrow-right" style="margin-left:.5em; font-size:1em;"></i>
                </ls-layer>
            </a>
        </div>
        <!-- Slide 2-->
        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:5000; transition2d:11; kenburnszoom:in; kenburnsscale:1.2;">
            <img width="1920" height="900" src="~/download-version/assets/img/update_2/hero/hero_bg_7_2.jpg" class="ls-bg" alt="" decoding="async">
            <ls-layer style="font-size:26px; stroke:#000; stroke-width:0px; text-align:center; font-style:normal; text-decoration:none; text-transform:capitalize; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Lobster Two'; top:311px; left:50%;  -webkit-background-clip:border-box;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                Special Fast food restaurant
            </ls-layer>
            <h1 style="text-align:left; text-decoration:none; text-transform:uppercase; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:Rubik; top:350px; left:50%; font-size:120px; font-weight:700; color:#ffffff; line-height:130px; white-space:normal;" class="ls-l ls-hide-phone ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                Good Platter
            </h1>
            <h1 style="text-align:left; text-decoration:none; text-transform:uppercase; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:Rubik; line-height:130px; top:478px; left:50%; font-size:120px; color:#ffffff; white-space:normal;" class="ls-l hero-title ls-hide-phone ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:400; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                Low cost
            </h1>
            <a style="" class="ls-l ls-hide-tablet ls-hide-phone" href="shop.html" target="_self" data-ls="offsetyin:-300; durationin:1200; delayin:500; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-120; durationout:800; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent; hover:true; hoveropacity:1; hoverbgcolor:#ffffff; hovercolor:#ff0600;">
                <ls-layer style="font-size:14px; color:#fff; text-align:center; font-family:Rubik; cursor:pointer; width:180px; left:50%; top:647px; text-transform:uppercase; line-height:14px; padding-bottom:20px; padding-top:22px; font-weight:600; border-radius:4px 4px 4px 4px; background-color:#ff0600;" class="ls-ib-icon ls-button-layer">
                    Explore menu<i class="fa fa-arrow-right" style="margin-left:.5em; font-size:1em;"></i>
                </ls-layer>
            </a>
            <ls-layer style="stroke:#000; stroke-width:0px; text-align:center; font-style:normal; text-decoration:none; text-transform:capitalize; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Lobster Two'; top:300px; left:50%;  -webkit-background-clip:border-box;" class="ls-l ls-hide-desktop ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                Special Fast food restaurant
            </ls-layer>
            <a style="" class="ls-l ls-hide-desktop" href="shop.html" target="_self" data-ls="offsetxin:500; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-120; durationout:800; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent; hover:true; hoveropacity:1; hoverbgcolor:#ffffff; hovercolor:#eb0029;">
                <ls-layer style="font-size:32px; color:#fff; text-align:center; font-family:Rubik; cursor:pointer; left:50%; top:642px; text-transform:uppercase; padding-bottom:30px; padding-top:30px; font-weight:600; line-height:32px; background-color:#eb0029; border-radius:10px 10px 10px 10px; width:370px;" class="ls-ib-icon ls-button-layer">
                    Explore menu<i class="fa fa-arrow-right" style="margin-left:.5em; font-size:1em;"></i>
                </ls-layer>
            </a>
        </div>
        <!-- Slide 3-->
        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:5000; transition2d:11; kenburnszoom:in; kenburnsscale:1.2;">
            <img width="1920" height="900" src="~/download-version/assets/img/update_2/hero/hero_bg_7_3.jpg" class="ls-bg" alt="" decoding="async">
            <ls-layer style="font-size:26px; stroke:#000; stroke-width:0px; text-align:center; font-style:normal; text-decoration:none; text-transform:capitalize; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Lobster Two'; top:311px; left:50%;  -webkit-background-clip:border-box;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                Special Fast food restaurant
            </ls-layer>
            <h1 style="text-align:left; text-decoration:none; text-transform:uppercase; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:Rubik; top:350px; left:50%; font-size:120px; font-weight:700; color:#ffffff; line-height:130px; white-space:normal;" class="ls-l ls-hide-phone ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                chicken fry
            </h1>
            <h1 style="text-align:left; text-decoration:none; text-transform:uppercase; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:Rubik; line-height:130px; top:478px; left:50%; font-size:120px; color:#ffffff; white-space:normal;" class="ls-l hero-title ls-hide-phone ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:400; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                with sauce
            </h1>
            <a style="" class="ls-l ls-hide-tablet ls-hide-phone" href="shop.html" target="_self" data-ls="offsetyin:-300; durationin:1200; delayin:500; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-120; durationout:800; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent; hover:true; hoveropacity:1; hoverbgcolor:#ffffff; hovercolor:#ff0600;">
                <ls-layer style="font-size:14px; color:#fff; text-align:center; font-family:Rubik; cursor:pointer; width:180px; left:50%; top:647px; text-transform:uppercase; line-height:14px; padding-bottom:20px; padding-top:22px; font-weight:600; border-radius:4px 4px 4px 4px; background-color:#ff0600;" class="ls-ib-icon ls-button-layer">
                    Explore menu<i class="fa fa-arrow-right" style="margin-left:.5em; font-size:1em;"></i>
                </ls-layer>
            </a>
            <ls-layer style="stroke:#000; stroke-width:0px; text-align:center; font-style:normal; text-decoration:none; text-transform:capitalize; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Lobster Two'; top:300px; left:50%;  -webkit-background-clip:border-box;" class="ls-l ls-hide-desktop ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                Special Fast food restaurant
            </ls-layer>
            <a style="" class="ls-l ls-hide-desktop" href="shop.html" target="_self" data-ls="offsetxin:500; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-120; durationout:800; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent; hover:true; hoveropacity:1; hoverbgcolor:#ffffff; hovercolor:#eb0029;">
                <ls-layer style="font-size:32px; color:#fff; text-align:center; font-family:Rubik; cursor:pointer; left:50%; top:642px; text-transform:uppercase; padding-bottom:30px; padding-top:30px; font-weight:600; line-height:32px; background-color:#eb0029; border-radius:10px 10px 10px 10px; width:370px;" class="ls-ib-icon ls-button-layer">
                    Explore menu<i class="fa fa-arrow-right" style="margin-left:.5em; font-size:1em;"></i>
                </ls-layer>
            </a>
        </div>
    </div>
</div>
<!-- Layer Slider Mobile version start here -->
<div class="d-block d-md-none">

    <div id="slider-phone" class="ls-wp-container fitvidsignore hero-7 th-hero-carousel" style="width:500px;height:600px;margin:0 auto;">
        <!-- Slide 1-->
        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:5000; transition2d:5; kenburnszoom:in; kenburnsscale:1.2;">
            <img width="500" height="600" src="~/download-version/assets/img/update_2/hero/hero_bg_7_1_1.jpg" class="ls-bg" alt="" decoding="async">
            <ls-layer style="font-size:36px; color:#000; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; width:500px; height:600px; -webkit-background-clip:border-box;" class="ls-l ls-svg-layer" data-ls="static:forever;">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 500 600" fill="none">
                    <rect width="500" height="600" fill="url(#paint0_radial_2726_7139)" fill-opacity="0.85"></rect>
                    <defs>
                        <radialgradient id="paint0_radial_2726_7139" cx="0" cy="0" r="1" gradientunits="userSpaceOnUse" gradienttransform="translate(250 326.667) rotate(90) scale(273.333 227.778)">
                            <stop stop-opacity="0.5" offset="0"></stop>
                            <stop offset="1"></stop>
                        </radialgradient>
                    </defs>
                </svg>
            </ls-layer>
            <h1 style="text-align:left; text-decoration:none; text-transform:uppercase; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:Rubik; top:268px; left:50%; font-size:55px; font-weight:700; color:#ffffff; line-height:65px; white-space:normal;" class="ls-l ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                Best Quality
            </h1>
            <ls-layer style="font-size:22px; stroke:#000; stroke-width:0px; text-align:center; font-style:normal; text-decoration:none; text-transform:capitalize; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Lobster Two'; top:231px; left:50%;  -webkit-background-clip:border-box;" class="ls-l ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                Special Fast food restaurant
            </ls-layer>
            <h1 style="text-align:left; text-decoration:none; text-transform:uppercase; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:Rubik; line-height:65px; top:332px; left:50%; font-size:55px; color:#ffffff; white-space:normal;" class="ls-l hero-title ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:400; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                Fast Food
            </h1>
            <a style="" class="ls-l" href="shop.html" target="_self" data-ls="offsetyin:-300; durationin:1200; delayin:500; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-120; durationout:800; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent; hover:true; hoveropacity:1; hoverbgcolor:#ffffff; hovercolor:#ff0600;">
                <ls-layer style="font-size:14px; color:#fff; text-align:center; font-family:Rubik; cursor:pointer; width:180px; left:50%; top:430px; text-transform:uppercase; line-height:14px; padding-bottom:20px; padding-top:22px; font-weight:600; border-radius:4px 4px 4px 4px; background-color:#ff0600;" class="ls-ib-icon ls-button-layer">
                    Explore menu<i class="fa fa-arrow-right" style="margin-left:.5em; font-size:1em;"></i>
                </ls-layer>
            </a>
        </div>

        <!-- Slide 2-->
        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:5000; transition2d:5; kenburnszoom:in; kenburnsscale:1.2;">
            <img width="500" height="600" src="~/download-version/assets/img/update_2/hero/hero_bg_7_1_2.jpg" class="ls-bg" alt="" decoding="async">
            <h1 style="text-align:left; text-decoration:none; text-transform:uppercase; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:Rubik; top:268px; left:50%; font-size:55px; font-weight:700; color:#ffffff; line-height:65px; white-space:normal;" class="ls-l ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                GOOD PLATTER
            </h1>
            <ls-layer style="font-size:22px; stroke:#000; stroke-width:0px; text-align:center; font-style:normal; text-decoration:none; text-transform:capitalize; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Lobster Two'; top:231px; left:50%;  -webkit-background-clip:border-box;" class="ls-l ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                Special Fast food restaurant
            </ls-layer>
            <h1 style="text-align:left; text-decoration:none; text-transform:uppercase; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:Rubik; line-height:65px; top:332px; left:50%; font-size:55px; color:#ffffff; white-space:normal;" class="ls-l hero-title ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:400; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                LOW COST
            </h1>
            <a style="" class="ls-l" href="shop.html" target="_self" data-ls="offsetyin:-300; durationin:1200; delayin:500; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-120; durationout:800; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent; hover:true; hoveropacity:1; hoverbgcolor:#ffffff; hovercolor:#ff0600;">
                <ls-layer style="font-size:14px; color:#fff; text-align:center; font-family:Rubik; cursor:pointer; width:180px; left:50%; top:430px; text-transform:uppercase; line-height:14px; padding-bottom:20px; padding-top:22px; font-weight:600; border-radius:4px 4px 4px 4px; background-color:#ff0600;" class="ls-ib-icon ls-button-layer">
                    Explore menu<i class="fa fa-arrow-right" style="margin-left:.5em; font-size:1em;"></i>
                </ls-layer>
            </a>
        </div>

        <!-- Slide 3-->
        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:5000; transition2d:5; kenburnszoom:in; kenburnsscale:1.2;">
            <img width="500" height="600" src="~/download-version/assets/img/update_2/hero/hero_bg_7_1_2.jpg" class="ls-bg" alt="" decoding="async">
            <h1 style="text-align:left; text-decoration:none; text-transform:uppercase; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:Rubik; top:268px; left:50%; font-size:55px; font-weight:700; color:#ffffff; line-height:65px; white-space:normal;" class="ls-l ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                CHICKEN FRY
            </h1>
            <ls-layer style="font-size:22px; stroke:#000; stroke-width:0px; text-align:center; font-style:normal; text-decoration:none; text-transform:capitalize; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Lobster Two'; top:231px; left:50%;  -webkit-background-clip:border-box;" class="ls-l ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:200; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                Special Fast food restaurant
            </ls-layer>
            <h1 style="text-align:left; text-decoration:none; text-transform:uppercase; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; font-family:Rubik; line-height:65px; top:332px; left:50%; font-size:55px; color:#ffffff; white-space:normal;" class="ls-l hero-title ls-text-layer" data-ls="offsetyin:-300; durationin:1200; delayin:400; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-200; durationout:400; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent;">
                WITH SAUCE
            </h1>
            <a style="" class="ls-l" href="shop.html" target="_self" data-ls="offsetyin:-300; durationin:1200; delayin:500; easingin:easeOutBack; bgcolorin:transparent; colorin:transparent; offsetxout:-120; durationout:800; startatout:slidechangeonly + ; bgcolorout:transparent; colorout:transparent; hover:true; hoveropacity:1; hoverbgcolor:#ffffff; hovercolor:#ff0600;">
                <ls-layer style="font-size:14px; color:#fff; text-align:center; font-family:Rubik; cursor:pointer; width:180px; left:50%; top:430px; text-transform:uppercase; line-height:14px; padding-bottom:20px; padding-top:22px; font-weight:600; border-radius:4px 4px 4px 4px; background-color:#ff0600;" class="ls-ib-icon ls-button-layer">
                    Explore menu<i class="fa fa-arrow-right" style="margin-left:.5em; font-size:1em;"></i>
                </ls-layer>
            </a>
        </div>
    </div>

</div>







